---
import { XMLParser } from "fast-xml-parser";
import Layout from "../layouts/Layout.astro";

// Doc: - https://eccc-msc.github.io/open-data/msc-data/readme_en/#weather-alerts-and-public-forecasts
//      - https://eccc-msc.github.io/open-data/msc-data/citypage-weather/readme_citypageweather-datamart_en/
const result = await fetch(
  "https://dd.weather.gc.ca/citypage_weather/xml/QC/s0000635_f.xml",
)
  .then((payload) => payload.text())
  .then((xml) => {
    const parser = new XMLParser();

    return parser.parse(xml) as object;
  });
---

<Layout title="Meteo Montreal">
  <div class="pre">
    {JSON.stringify(result, null, 2)}
  </div>
</Layout>

<style>
  .pre {
    color: white;
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }
</style>
