---
import { XMLParser } from "fast-xml-parser";
import Layout from "../layouts/Layout.astro";

interface Datetime {
  year: number;
  month: number;
  day: number;
  hour: number;
  minute: number;
  timeStamp: number;
  textSummary: string;
}

interface Result {
  siteData: {
    currentConditions: {
      station: string;
      dateTime: [Datetime, Datetime];
      condition: string;
      iconCode: number;
      temperature: number;
      dewpoint: number;
      humidex: number;
      pressure: number;
      visibility: number;
      relativeHumidity: number;
      wind: {
        speed: number;
        gust: string;
        direction: string;
        bearing: number;
      };
    };
  };
}

// Doc: - https://eccc-msc.github.io/open-data/msc-data/readme_en/#weather-alerts-and-public-forecasts
//      - https://eccc-msc.github.io/open-data/msc-data/citypage-weather/readme_citypageweather-datamart_en/
const result = await fetch(
  "https://dd.weather.gc.ca/citypage_weather/xml/QC/s0000635_f.xml",
)
  .then((payload) => payload.text())
  .then((xml) => {
    const parser = new XMLParser();

    return parser.parse(xml) as Result;
  });
---

<Layout title="Météo Montréal">
  <h1>{result.siteData.currentConditions.station}</h1>

  <p>
    {result.siteData.currentConditions.condition}
  </p>
  <p>
    {result.siteData.currentConditions.temperature}c
  </p>
  <p>
    {result.siteData.currentConditions.humidex || "-"} (humidex)
  </p>
</Layout>
